// Colors
$color-default: #504e4f;
$color-primary: #f39022;

$color-info: #8097e4;

$color-white: #FFF;
$color-black: #000;

$color-success: #0DBF6D;
$color-danger: #e95063;
$color-warning: #f6cf23;
$color-muted: #000;



